[build]
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/google25180d4b751bf97e.html"
  to = "/google25180d4b751bf97e.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
